# Exclude ALL Python source files
*.py
__pycache__/
*.pyc
*.pyo
*.pyd

# Exclude build directories
dist/
build/

# Exclude any temporary files
*.tmp
*.temp

# Ignore the directory
peparser/

# Keep these files
!.github/
!README.md
!LICENSE
!scripts/
